@import "../../styles";

:focus {
  outline: 2px dashed orange;
}

button.buy-now {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

footer {
  margin-top: 1rem;
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  position: fixed;
  top: calc(50vh - 15vh);
  width: 60vw;
  height: 30vh;
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  opacity: 1;
  display: flex;
  flex-direction: column;
  z-index: 999;

  .dialog-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    h2 {
      margin: 0 0 1rem 0;
    }

    .dialog-close {
      border: none;
      background: none;
      border-radius: 2rem;
    }
  }

  .dialog-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}
