@import "../../styles";

:focus {
  outline: 2px dashed orange;
}

button.buy-now {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

footer {
  margin-top: 1rem;
}
